pyrofork
tgcrypto==1.2.5
requests
aiohttp
aiofiles
certifi
pycryptodomex
beautifulsoup4
PyJWT
cloudscraper
pymongo[srv]
pytz
motor
pywidevine
emoji
aiocron
pyzipper
python-dotenv
Flask==3.0.3
